/* general styles */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

*{
    margin:0;
    padding:0;
}

body {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.full-circle {
    background-color: rgba(204, 0, 102, 0);
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    box-shadow: inset rgba(252, 253, 255, 0) 0 0 6px 1px, rgba(61, 255, 197, 0.7) 0 0 24px 6px;
    text-indent: -999em;
    margin-bottom: 15px;
}

.menu.button {
    position: absolute;
    box-shadow: inset #0DA300 0 0 6px 1px, #34A300 0 0 24px 6px;
    width:250px;
    height:40px;
    text-indent:-999em; /*убираем текстовую ссылку*/
}



#invulnerability{
    background-image: url(../img/invul-active.png);
    background-position: center;
}

#pause{
    background-image: url(../img/pause.png);
    background-position: center;
}

#slow{
    background-image: url(../img/slow-active.png);
    background-position: center;
}

#jolt{
    background-image: url(../img/bang-active.png);
    background-position: center;
}

#life{
    background-image: url(../img/life-active.png);
    background-position: center;
}

#stun{
    background-image: url(../img/poison-active.png);
    background-position: center;
}

#scorePanel{
    color:#ffffff;
    text-shadow: 8px 8px 8px #f7fff6;
}

.message{
    color: #ffffff;
    opacity: 0;
}

#awardsTable td{
    width: 300px;
    color:#000;
    font-size: 12pt;
}

#awardsTable thead{
    width: 300px;
    color:#000;
    font-size: 15pt;
}

/* tutorial styles */
#scene {
    background:url(../img/01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen {
    #scene {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #bonuses {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 30%;
    }

    #leftBonuses {
        position: absolute;
        height: 30%;
        width: 7%;
        left: 3%;
    }

    #rightBonuses {
        position: absolute;
        height: 30%;
        width: 7%;
        right: 3%;
    }

    #controls {
        position: absolute;
        top: 50%;
        width: 100%;
    }

    #leftControl {
        position: absolute;
        left: 30%;
        top: 50%;
        opacity: 0;
        width: 10%;
    }

    #rightControl {
        position: absolute;
        right: 100%;
        top: 50%;
        opacity: 0;
        width: 10%;
    }

    #scorePanel {
        position: absolute;
        top: 1%;
        right: 2%;
    }

    #healthDiv {
        position: absolute;
        top: 2%;
        left: 5%;
        width: 30%;
        height: 3%;
    }

    .message {
        position: fixed;
        z-index: 1000;
        font-size: 20pt;
    }

    .full-circle {
        height: 100%;
        width: 100%;
    }

    .bonus-style{
        background-size: 85%;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 180px) {
    #scorePanel {
        font-size: 6pt;
    }

    .message {
        font-size: 10pt;
    }
}

@media screen and (min-width: 300px) {
    #scorePanel {
        font-size: 10pt;
    }

    .message {
        font-size: 15pt;
    }
}

@media screen and (min-width: 500px) {
    #scorePanel {
        font-size: 15pt;
    }

    .message {
        font-size: 20pt;
    }
}

@media screen and (min-width: 900px) {
    #scorePanel {
        font-size: 24pt;
    }

    .message {
        font-size: 30pt;
    }
}