<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.university.appleeater"
        version   = "1.0.2">
    <name>Apple Eater</name>

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
</widget>
